<div class="jumbotron">
    <h1>AngularStub</h1>
    <p class="lead">Chaim's rather incomplete AngularStub project.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>To do</h2>
        <ul>
            <li>Add AngularJS tests.</li>
            <li>Add AngularJS controllers.</li>
        </ul>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
</div>
@section scripts
{
    <script>
        alert("Hi!");
    </script>
}